header {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(0, 0, 0, .5);
  height: 60px;
  padding: 10px 10px;
}  

ul {
  padding: 0 25px;
  margin-top: 10px;
}

ul li {
  display: flex;
  justify-content: left;
  height: 20px;
  margin: 0 15px;
  list-style: none;
  text-align: left;
}

.card {
  flex: 0 0 auto;
  border: 3px solid rgba(0, 0, 0, 1);  
  border-radius: 20px;
  width: 200px;
  padding: 0px;
  margin: 10px;
  cursor: pointer;
}    

.card:hover {
  border: 3px solid rgba(255, 255, 255, 1);  
  background-color: rgba(0, 0, 0, .2);
}    

.district-title {
  position: absolute;
  padding: 0 5px;
  margin-top: 5px;
  font-size: 22px;
}  

.check {
  flex: 0 0 20px;
  height: 20px;
  padding: 0;
  margin-right: 5px;
}

.year {
  flex: 0 0 50px;
  margin: 0px;
}

.percent {
  margin: 0px;
  text-align: right;
}

.higher-achievement {
  font-size: 17px;
  font-weight: bolder;
}

.clicked {
  background-color: rgba(0, 0, 0, .5);
}