.dropdown-container h3 {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  text-align: center
}

select {
  outline: none;
  height: 35px;
  width: 300px;
  margin: auto;
  font-size: 16px;
  color: #3A4F3B;
}

.dropdown-container {
  margin: 20px auto;
  text-align: center;
}
