* {
  font-family: 'Fresca', sans-serif;
  color: #FFF;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url('./Chalkboard.jpg');
  background-repeat: no-repeat;
  background-size: 100% 120%;
}
