.search h2 {
  text-align: center
}

input {
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  outline: none;
  height: 40px;
  padding: 2px 15px 0 60px;
  margin: auto;
  font-size: 30px;
  color: #3A4F3B;
  background-image: url('./search.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 15px;
}
