input {
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  outline: none;
  height: 40px;
  padding: 2px 15px 0 60px;
  margin: auto;
  font-size: 30px;
  color: rgb(58, 79, 59, 1);
  background-image: url('./search.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 15px;
}

.search h2 {
  padding: 0 10px;
  text-align: center;
}

@media screen and (max-width: 420px){

  input {
    width: 300px;
    font-size: 24px;
  }
  
}
